<form class="form-horizontal" >
    <div class="control-group">
        <label class="control-label" for="inputName">Name</label>
        <div class="controls">
            <input type="text" id="inputName" placeholder="Name" ng-model="profile.name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" ng-model="profile.email">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="#/" class="btn btn-primary" ng-click="save(profile)">Save</a>
        </div>
    </div>
</form>